.set-new-password-wrapper {
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 50px;
    height: 300px;
}

.set-new-password-wrapper h1 {
    margin-bottom: 20px;
    font-size: 21px;
    color: #fff;
    
}

.set-new-password-wrapper .new-password-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.new-password-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.new-password-input-box input::placeholder {
    color: white;
}

.new-password-input-box input:focus::placeholder {
    color: lightgrey;
}

.new-password-input-box input:focus {
    border-color: blue;
}

.new-password-input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.new-password-input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.set-new-password-wrapper .new-password-input-box-confirmation {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.new-password-input-box-confirmation input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.new-password-input-box-confirmation input::placeholder {
    color: white;
}

.new-password-input-box-confirmation input:focus::placeholder {
    color: lightgrey;
}

.new-password-input-box-confirmation input:focus {
    border-color: blue;
}

.new-password-input-box-confirmation .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.set-new-password-wrapper button {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.set-new-password-wrapper .logo {
    position: absolute;
    width: 210px;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
}